html,
body,
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.add-fact-button {
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-fact-button:hover {
  background-color: #e0e0e0;
}

.main-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-header__nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.main-header__nav__item:hover {
  background-color: #e0e0e0;
}

.fact-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #fafafa;
}

.fact-card-container {
  perspective: 50rem;
  position: relative;
}

.fact-card {
  height: 400px;
  width: 400px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.fact-card-flip {
  transform: rotateY(180deg);
}

.fact-card-front,
.fact-card-back {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d8dfeb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}

.fact-card-back {
  background-color: dodgerblue;
  transform: rotateY(180deg);
}

.fact-card__header {
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.fact-card-source-header {
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.fact-card__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.fact-card-icon {
  max-width: 30px;
}

.fact-card__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fact-card__tag {
  margin: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #2f353d;
}

.add-fact-modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 31, 31, 0.75);
  color: black;
  border-radius: 10px;
}

.add-fact-modal {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
}

.add-fact-modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
}

.add-fact-modal__body__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.add-fact-modal__body__inputs > div {
  margin: 0.5rem;
}

.add-fact-modal__body__inputs > div > input {
  font-size: 1.25rem;
  line-height: 2rem;
  background-color: transparent;
  border: solid 3px #e08a8a;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.4s;
}

.add-fact-modal__body__inputs > div > input:focus {
  outline: none;
  border: solid 5px #e46565;
  line-height: 2.5rem;
}

.add-fact-modal__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.add-fact-modal__footer__button {
  background-color: #e08a8a;
  color: rgb(250, 250, 250);
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-fact-modal__footer__button:hover {
  background-color: #e46565;
  font-size: 1.25rem;
}

.add-fact-modal__exit-button {
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-fact-modal__exit-button:hover {
  background-color: #e0e0e0;
}

.add-fact-modal__footer__error {
  color: red;
  font-size: 0.75rem;
  margin-top: 1rem;
}
